body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  text-align: center
}
h1 {
  color:purple;
  text-align: center

}
li {
  color:pink;
  text-align: center
}
 p {
   color:pink;
   text-align: center
 }

h2 {
  color:purple;
  text-align: center
}
img {
  width: 25%;
  height: auto
}