body {
  font-family: fantasy; 
  background-color: #80bd9e;
  text-align: center;
  font-size: 15pt
}

h1 {
  color: black;
 background-color:#ff420e
  
  display:block;
  text-decoration: underline
}

ul {
  list-style-position: inside;
  color: black;
}
 
p {
   color:black;
   
   display:block
}

h2 {
  color:black;
  
  text-decoration: underline
}

img {
  width: 25%;
  height: auto
}